.table {
    margin-top: 50px;
  }
  
  
  .thName {
    width: 20%;
    ;
  }
  
  .theadAll {
    text-align: center;
  }
  
  .iconNext {
    border: none;
    background: white;
    color: rgb(13 110 253);
  }
  
  .numberNext{
    border: none;
    background-color: #eee;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    color: rgb(13 110 253);
    margin: 5px;
  }
  
  .activePage {
    background-color: #007bff; 
    color: white; 
  }
  
  